<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mail Duck :)</title>
    <link rel="shortcut icon" href="<?php echo URL ?>/public/img/ico.ico" />
  </head>
  <body>
    <h1><?php echo $nome ?></h1>
  </body>
</html>
