<!doctype html>
<html lang="pt_br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login - Mail Duck</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="<?php echo URL ?>/public/css/signin.css">
    <link rel="shortcut icon" href="<?php echo URL ?>/public/img/ico.ico" />
  </head>
  <body class="text-center">
    <form class="form-signin" method="post" action="<?php echo URL ?>/admin/login">
      <img class="mb-2" src="<?php echo URL ?>/public/img/logo.png" alt="" width="72" height="72">
      <h1 class="h3 mb-2 font-weight-normal">Login Mail Duck</h1>
      <?php
        if (isset($error)) {
      ?>
        <div class="alert alert-danger" role="alert">
          <?php echo $error ?>
        </div>
      <?php } ?>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" class="form-control" placeholder="Email address" required autofocus autocomplete="off" name="email">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" class="form-control" placeholder="Password" required autocomplete="off" name="pass">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </body>
</html>
